.App {
  text-align: center;
  background-size: auto;
  background-repeat: round;
  background-attachment: fixed;
  height: 98vh
}

.Cards {
  padding-top: 5em;
  display: flex;
  flex-wrap: wrap;
  row-gap: 2em;
  gap: 1em;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: .5em;
  font-size: 1em;
  font-weight: bold;
  color: black;
  border: 2px solid transparent;
  background-color: white;
  transition: all .5s;
}

button:hover {
  border-bottom-color: red;
  color: red;
  font-weight: bold;
  background-color: whitesmoke;
}

.activePage {
  cursor: pointer;
  padding: .5em;
  font-size: 1em;
  font-weight: bold;
  border: 2px solid transparent;
  border-bottom-color: red;
  color: red;
  font-weight: bold;
  background-color: whitesmoke;
}

.contain-pages{
  position: relative;
  top: 2em;
  display: flex;
  justify-content: center;
  gap: .5em;
  flex-wrap: wrap;
  margin-bottom: .5em;
}