/* @font-face {
    font-family: Syne;
    src: url("Fuentes/Syne.ttf")
} */

@keyframes appear {
    0% {
        visibility: hidden;
    }

    70% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}

@keyframes iteran {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    10% {
        color: rgba(255, 255, 255, 0.178);
    }

    20% {
        color: rgba(255, 255, 255, 0.37);
    }

    30% {
        color: rgba(255, 255, 255, 0.521);
    }

    40% {
        color: rgba(255, 255, 255, 0.699);
    }

    50% {
        color: white;
    }

    60% {
        color: rgba(255, 255, 255, 0.699);
    }

    70% {
        color: rgba(255, 255, 255, 0.521);
    }

    80% {
        color: rgba(255, 255, 255, 0.37);
    }

    90% {
        color: rgba(255, 255, 255, 0.178);
    }

    100% {
        color: rgba(255, 255, 255, 0);
    }
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

.start {
    font-size: 3em;
    background: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    border: 2px solid transparent;
    cursor: pointer;
    animation: appear 2s linear, iteran 1.8s linear infinite;
    transition: all .5s;
}

.start:hover {
    box-shadow: 0 8px .5px white;
    animation: appear 2s linear;
    background: none;
    border-color: transparent;
    font-size: 3em;
    font-weight: 900;
    color: white;
}

@keyframes efect {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1.05);
    }
}

.F1 {
    filter: drop-shadow(25px 55px 25px black);
    animation: efect 1.2s linear;
    cursor: default;
    transition: transform .7s;
}

.F1:hover {
    transform: scale(1.05);
}

.contain {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader{
    display: block;
    position: relative;
    top: 22em;
    right: 40em;
    height: 12px;
    width: 1436%;
    border: 1px solid #fff;
    border-radius: 10px;
    overflow: hidden;
  }
  .loader:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background: #FF3D00;
    animation: 6s prog ease-in;
  }

  @keyframes prog {
    to  {  width: 100%;}
  }

.cargando {
    position: relative;
    top: 19em;
    right: 40em;
    overflow: hidden;
    font-size: 1em;
    font-weight: 500;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
        typing 2.5s steps(40, end) infinite ;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}