.alerts{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.349);
    backdrop-filter: blur(3px);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: clamp(15em, 65%, 25em);
    height: clamp(15em, 65%, 25em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 2px double white;
    animation: flotar 2s infinite linear;
    font-size: 1.8em;
}

@keyframes flotar{
    0%{transform: translate(-50%,-50%);}
    30%{transform: translate(-50%,-52%);}
    50%{transform: translate(-50%,-50%);}
    80%{transform: translate(-50%,-48%);}
    100%{transform: translate(-50%,-50%);}
}