.driver-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2fr 2fr;
    grid-template-areas:
        "principal principal"
        "crear borrar"
        "outlet outlet"
        "outlet outlet";
}

.crear {
    grid-area: crear;
}

.borrar {
    grid-area: borrar;
}

.principal {
    grid-area: principal;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 2em;
}

.outlet {
    grid-area: outlet;
    display: flex;
    justify-content: center;
}